<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869914071850-pcfffelg0irtg23lbrnu06e9br34tsoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869914071850-pcfffelg0irtg23lbrnu06e9br34tsoj</string>
	<key>API_KEY</key>
	<string>AIzaSyC2KXGDdgxpAxgEfcCNN766wHOUX8Ns8o0</string>
	<key>GCM_SENDER_ID</key>
	<string>869914071850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jiaqifeng.kanjiDictionary</string>
	<key>PROJECT_ID</key>
	<string>kanji-dict</string>
	<key>STORAGE_BUCKET</key>
	<string>kanji-dict.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869914071850:ios:415aace7ecf70b82</string>
	<key>DATABASE_URL</key>
	<string>https://kanji-dict.firebaseio.com</string>
</dict>
</plist>